* {
  padding: 0px;
  margin: 0px;
}
.mCont {
  background-color: #79e0ee;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginCard {
  height: 400px;
  width: 400px;
  background-color: #d0f5be;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
label {
  margin-top: 20px;
}
button {
  width: 120px;
  height: 30px;
  background-color: #79e0ee;
  border: none;
  margin-top: 30px;
  color: #1f1f1f;
  border-radius: 5px;
}

input {
  width: 250px;
  height: 25px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  padding: 10px;
}
