body {
    text-align: center;
    font-size: 20px;
    display: flex;

    justify-content: center;

}
td {
    padding: 10px;

}
.pink,
.blue,
.yellow,
.green {
    border: 3px solid black;
}
.pink {
    background-color: #f08596;
}
.blue {
    background-color: #6db7f0;
}
.yellow {
    background-color: #ebd174;
}
.green {
    background-color: #92ecb2;
}